* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito', sans-serif;
}
.selectCharacter {
    width: 15vw;
    margin-right: 10px;
}
.containerCharacters {
    background-color: #202020;
    display: flex !important;
    justify-content: space-around;
    margin-top: 20px;

}
.who-are-you{
margin-left: 40px;
margin-right: 40px;
display: flex;
flex-direction: column;
justify-content: center;
}

.selection-characters{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.incognite {
    margin-left: 10vh;
}
.ch0 {
    height: 80vh;
}
p {
    color: white;
    font-size:  10px;
}
h2 {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.icones{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 15px;
    background-color: aquamarine;
}

button{
    height: auto;
    background: transparent;
    border-style: none;
}
.text{
    text-align: center;
}
.text:hover{
    color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
background: #232323;
}
button img:hover{
    -moz-transform: translate(-8px, 6px) skew(12deg, 5deg);
-webkit-transform: translate(-8px, 6px) skew(12deg, 5deg);
-o-transform: translate(-8px, 6px) skew(12deg, 5deg);
-ms-transform: translate(-8px, 6px) skew(12deg, 5deg);
transform: translate(-8px, 6px) skew(12deg, 5deg);
border: 2px solid rgba(28,110,164,0.66);
border-radius: 13px 14px 10px 8px;
}

