
.selectCharacter {
    width: 15vw;
    margin-right: 10px;
}
.containerCharacters {
    background-color: #202020;
    display: flex !important;
    justify-content: space-around;
    margin-top: 20px;
    
}
.who-are-you{
margin-left: 40px;
margin-right: 40px;
display: flex;
flex-direction: column;
justify-content: center;
}

.selection-characters{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.incognite {
    margin-left: 10vh;
}
.ch0 {
    height: 80vh;
}
p {
    color: white;
    font-size:  10px;
}
h2 {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.icones{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 15px;
    background-color: aquamarine;
}

