@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.selectCharacter {
    width: 15vw;
    margin-right: 10px;
}
.containerCharacters {
    background-color: #202020;
    display: flex !important;
    display: column;
    justify-content: space-around;
    margin-top: 20px;
}
.who-are-you{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
    max-width: 40%;
    }

.selection-characters{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.incognite {
    margin-left: 10vh;
}
.ch0 {
    height: 80vh;
}
.ch1 {
    height: 40vh;
}
p {
    color: white;
    font-size:  10px;
}
h2 {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.icones{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 15px;
    background-color: aquamarine;
}

button{
    height: auto;
    background: transparent;
    border-style: none;
}
.text{
    text-align: center;
}
.text:hover{
    color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
background: #232323;
}
button img:hover{
    -moz-transform: translate(-8px, 6px) skew(12deg, 5deg);
-webkit-transform: translate(-8px, 6px) skew(12deg, 5deg);
-o-transform: translate(-8px, 6px) skew(12deg, 5deg);
-ms-transform: translate(-8px, 6px) skew(12deg, 5deg);
transform: translate(-8px, 6px) skew(12deg, 5deg);
border: 2px solid rgba(28,110,164,0.66);
border-radius: 13px 14px 10px 8px;
}

h2:hover{
    -moz-transform: scale(1.3) translate(36px, -8px) skew(-3deg, 0deg);
    -webkit-transform: scale(1.3) translate(36px, -8px) skew(-3deg, 0deg);
    -o-transform: scale(1.3) translate(36px, -8px) skew(-3deg, 0deg);
    -ms-transform: scale(1.3) translate(36px, -8px) skew(-3deg, 0deg);
    transform: scale(1.3) translate(36px, -8px) skew(-3deg, 0deg);
}

.characters-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.myCharacter{
    text-align: center !important;
    font-size: 0.9rem;
    

}
.user-ch{
    align-items: center;
}

.next {
    width: 5vw;
}

