@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
body{
    background-image: url('../images/hacker.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Sarpanch', sans-serif;
    
}

.users{
    width: 20vh;
    
}

.users-text {
    font-size:medium;
    font-family: 'Sarpanch', sans-serif;
}

.create-group {
    width: 100%;
}

.form {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.users {
    
}



