@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
.intro{
    background-image: url('../images/intro2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 1.9;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.text{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 50%;
    max-height: 80%;
    margin-left: 5%;
    font-family: 'Sarpanch', sans-serif;
    background-color: rgba(31, 28, 28, 0.507);
    border-radius: 6% ;
    color: white;
    font-size: 0.9rem;
    padding: 5%;
}
.text1{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: flex-end !important;
    height: 90%;
}
.back{
    display: flex;
    justify-content:center;
    align-content: center;
    padding: 1%;
    color: white;
    font-family: 'Sarpanch', sans-serif;
    width: 25%;
    height: 10%;
    background-color: rgba(31, 28, 28, 0.507);
    border-radius: 8% ;
}
