.prueba{
    background-color: yellow !important;
}

.boton-create-account{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.enlace-register{
    text-decoration: none;
}

.formulario-card{
    align-content: center;
}