.cover-contain {
    position: fixed;
    background: url("../images/map.png") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-center {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    border: solid 1px black;
    top: 0;
}
.footer {

        width: 100%;
        height: 20vh;
        display: flex;
        border: solid 2px white;
        align-items: flex-end;
        justify-content: flex-end;
    }

.texto > p{
    font-size: 1.5rem;
    padding-left: 10px;
    color: white;
}
.map-item{
    z-index: 1;
}
.map-item > button{
    color: red;
    font-size: 20px;
    z-index: 1;
    object-fit: contain;
    border-style: none;
    background: transparent;
    transition: all 2s ease;
}
.map-item button img{
    width: 8vw;
    opacity: 0;
    position: relative;
    right: 42%;
}
.map-item button img:hover{
    opacity: 3;
}
.main-center > .item1{
    position: relative;
    left: 10px;
    top: 30vh;
}
.main-center > .item2{
    position: relative;
    left: 23%;
    top: 28vh;
}
.main-center > .item3{
    position: relative;
    left: 8%;
    top: 55vh
}
.main-center > .item4{
    position: relative;
    left: 22%;
    top: 32vh;
}
.main-center > .item5{
    position: relative;
    left: 13%;
    top: 59vh;
    }
.main-center > .item6{
    position: relative;
    right: 69%;
    top: 58vh;
    }
    .fa-arrow-left,.fa-house-user
    {
        font-size: 1rem;
        color: red;
    }

    .buttones-footer{
        display: flex;
    }

    .contain-btn .fas{
        font-size: 3rem;
    }


@media (max-width: 796px){
.texto > p{
    font-size: 1rem;
    padding-left: 10px;
    color: white;
}
}
@media (max-width: 300px){
.texto > p{
    font-size: 0.8rem;
    padding-left: 10px;
    color: white;
}
}
@media (max-width: 300px){
.texto > p{
    font-size: 0.8rem;
    padding-left: 10px;
    color: white;
    display: none;
}
}
