@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');

body{
    
}
.buttonNext, .buttonNext::after {
    width: 10vw;
    height: 12vh;
    font-family: 'Bebas Neue', cursive;
    
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 20px;
    
    outline: transparent;
    position: relative;
  }
  
  
  @keyframes glitch {
    0% {
      clip-path: inset(80% -6px 0 0);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: inset(50% -6px 30% 0);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: inset(80% -6px 0 0);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: inset(10% -6px 85% 0);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: inset(50% -6px 30% 0);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: inset(10% -6px 85% 0);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: inset(40% -6px 43% 0);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: inset(50% -6px 30% 0);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: inset(80% -6px 5% 0);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: inset(80% -6px 0 0);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: inset(80% -6px 0 0);
      transform: translate(0);
    }
  }
  .buttonNext {
      position: absolute;
      right: 0px;
      bottom: 20px;
      opacity: 0.8;

  }
  .red {
      border: red solid 1px;
  }
  .selectCharacter{
      position: absolute;
      left: 20px;
      top: 10px;
      border-radius: 50%;
      border: rgba(255, 255, 255, 0.2) solid;
      transition: opacity 10s linear;
      z-index: 1;
  }
  .containerQuestions {
      border: none !important;
      opacity: 0;
      visibility: hidden;
      width: 80%;
      transition: visibility 5s, opacity 10s linear;
      margin-top: 35vh;
      justify-content: center;
    }

    
  .cover-contain{
        height: 100vh;
        object-fit: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Sarpanch', sans-serif;
        background-image: url('../images/impostor.png') !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.6);
      }
  .selectCharacter {
      height: 25%;
  }
  h4 {
      color:white;
      text-align: center;
  }
  h3 {
    color:white;
    text-align: center;
}

   .titleSmall {
        position: absolute;
        top: 5vh;
      width: 70vw ;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 2vh;
      margin-bottom: 3vh;
      transition: width 3s, height 3s, padding 3s, position 3s;
  }
  .titleBig {
      position: absolute;
      top: 20vh;
      width: 80vw;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 20vh;
      
  }
  .question {
      min-width: 10vw;
      min-height: 10vh;
      margin-bottom: 3vh;
      background-color: rgba(255, 255, 255, 0.5);
      font-size:  0.5rem;
      border-radius: 1rem;
      min-width: 30%;
      text-align: center;
      justify-content: center;
      
  }


  .question p {
      
      margin-bottom:0;
      font-size: 0.8rem;
      padding: 0.5rem !important;
  }

  .question-impostor {
    min-width: 10vw;
    min-height: 10vh;
    margin-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.5);
    font-size:  1rem;
    border-radius: 1rem;
    justify-content: center;
    margin-bottom:0;
    font-size: 1.5rem;
    padding: 0.5rem !important;
  }
  .time {
      background-color: rgba(255, 255, 255, 0.5);
      
      width: 10vw;
      position: relative;
      
  }

  .cont-temporizador{
    display: flex;
    justify-content: center;
    width: 15%;
    /*   border: solid 1px red; */
    margin-top: 15px;
    border-radius: 1rem;

}

.cont-temporizador .bloque{
margin: 0px 4px;
display: flex;
flex-direction: column;
align-items: center;
}

.cont-temporizador .bloque div{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(80, 80, 80);
box-shadow: 0px 0px 6px 2px #727272 inset;
color: #ffffff;
font-size: 20px;
font-weight: bold;
width: 45px;
height: 59px;
margin-bottom: 10px;
border-radius: 5px;
}

.cont-temporizador .bloque p{
font-size: 11px;
font-weight: bold;
color: #d6d6d6;
}

  .impostor-name {
      font-size: 20px;
  }


    @media (max-width: 955px){
      
        }
        @media (max-width: 783px){
         
            .question p{
                font-size: 0.9rem;
            }
          
            .cover-contain {
                
                background-size: 100% 100%;
                height: 98vh;
                width: 104%;
                padding: 0px;
                object-fit: contain;
                box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Sarpanch', sans-serif;
            }
            
            }


        @media (max-width: 608px){
       
            .cover-contain {
                
                background-size: 100% 100%;
                height: 98vh;
                width: 105%;
                padding: 0px;
                object-fit: contain;
                box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Sarpanch', sans-serif;
            }
           
            }

            @media (max-width: 452px){

                .cover-contain {
                 
                    background-size: 100% 100%;
                    height: 106vh;
                    width: 108%;
                    padding: 0px;
                    object-fit: contain;
                    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Sarpanch', sans-serif;
                }
                .titleSmall {
                    width: 60vw;
                    height: 21vh;
                    border-radius: 1rem;
                    background-color: rgba(255, 255, 255, 0.3);
                    padding: 2vh;
                    margin-bottom: 1vh;
                    transition: width 5s, height 5s, padding 5s, position 5s;
                }
                .buttonNext, .buttonNext::after {
                    width: 13vw;
                    height: 12vh;
                    font-family: 'Bebas Neue', cursive;
                    background: linear-gradient(
                45deg
                , transparent 5%, #0b7745 5%);
                    border: 0;
                    color: #fff;
                    letter-spacing: 3px;
                    line-height: 20px;
                    box-shadow: 6px 0px 0px #03532b;
                    outline: transparent;

                }
                }
                @media (max-width: 518px){

                    .cover-contain {
                       
                        background-size: 100% 100%;
                        height: 106vh;
                        width: 108%;
                        padding: 0px;
                        object-fit: contain;
                        box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Sarpanch', sans-serif;
                    }
                    }
                    @media (max-width: 404px){

                        .cover-contain {
                            
                            background-size: 100% 100%;
                            height: 109vh;
                            width: 114%;
                            padding: 0px;
                            object-fit: contain;
                            box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: 'Sarpanch', sans-serif;
                        }
                        .buttonNext, .buttonNext::after {
                            width: 16vw;
                            height: 12vh;
                            font-family: 'Bebas Neue', cursive;
                            background: linear-gradient(
                        45deg
                        , transparent 5%, #0b7745 5%);
                            border: 0;
                            color: #fff;
                            letter-spacing: 3px;
                            line-height: 20px;
                            box-shadow: 6px 0px 0px #03532b;
                            outline: transparent;

                        }
                        }
                        @media (max-width: 374px){

                            .cover-contain {
                                
                                background-size: 100% 100%;
                                height: 106vh;
                                width: 108%;
                                padding: 0px;
                                object-fit: contain;
                                box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                font-family: 'Sarpanch', sans-serif;
                            }
                            .titleSmall {
                                width: 60vw;
                                height: 21vh;
                                border-radius: 1rem;
                                background-color: rgba(255, 255, 255, 0.3);
                                padding: 2vh;
                                margin-bottom: 1vh;
                                transition: width 5s, height 5s, padding 5s, position 5s;
                            }
                            .buttonNext, .buttonNext::after {
                                width: 13vw;
                                height: 12vh;
                                font-family: 'Bebas Neue', cursive;
                                background: linear-gradient(
                            45deg
                            , transparent 5%, #0b7745 5%);
                                border: 0;
                                color: #fff;
                                letter-spacing: 3px;
                                line-height: 20px;
                                box-shadow: 6px 0px 0px #03532b;
                                outline: transparent;

                            }
                            h3 {
                                color: white;
                                text-align: center;
                                font-size: 1rem;
                            }
                            h4 {
                                color: white;
                                text-align: center;
                                font-size: 1rem;
                            }
                   
                            }
                            @media (max-width: 221px){

                                .cover-contain {
                                
                                    background-size: 100% 100%;
                                    height: 128vh;
                                    width: 128%;
                                    padding: 0px;
                                    object-fit: contain;
                                    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: 'Sarpanch', sans-serif;
                                }
                                .titleSmall {
                                    width: 46vw;
                                    height: 16vh;
                                    border-radius: 1rem;
                                    background-color: rgba(255, 255, 255, 0.3);
                                    padding: 2vh;
                                    margin-bottom: 1vh;
                                    transition: width 5s, height 5s, padding 5s, position 5s;
                                }
                                .buttonNext, .buttonNext::after {
                                    width: 23vw;
                                    height: 11vh;
                                    font-family: 'Bebas Neue', cursive;
                                    background: linear-gradient(
                                45deg
                                , transparent 5%, #0b7745 5%);
                                    border: 0;
                                    color: #fff;
                                    left: 16px;
                                    letter-spacing: 3px;
                                    line-height: 20px;
                                    box-shadow: 6px 0px 0px #03532b;
                                    outline: transparent;

                                }
                                h3 {
                                    color: white;
                                    text-align: center;
                                    font-size: 0.7rem;
                                }
                                h4 {
                                    color: white;
                                    text-align: center;
                                    font-size: 0.7rem;
                                }
                            
                                }




















