
    @import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
   *{
       box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    .cover-contain{
        background-image: url('../images/Forest.gif');
        background-size: 100% 100%;
        height: 100vh;
        width: 100%;
        object-fit: contain;
        box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Sarpanch', sans-serif;
    }
    .video{
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .cover-contain .mood{
        width: 273px;
        height: 140px;
        color: white;
        font-size: 62px;
        border-radius: 10px;
        border-style: none;
        background: transparent;
        font-family: 'Sarpanch', sans-serif;
        text-shadow: 5px 5px 5px rgb(146, 143, 143);
    }
    
    .cover-contain .play {
        font-size: 32px;
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        width: 240px;
        height: 93px;
        background: transparent;
        font-family: 'Sarpanch', sans-serif;
        

    }

    .play{
        cursor: pointer;
        font-size: 1rem;
        color: #e0dfdc;
        background: #556677;
        text-shadow: 5px 5px 5px rgb(146, 143, 143);
        color: #e0dfdc;
        background: #556677;
    }

    .play:hover{
        -moz-transform: scale(1.05) translate(5px, 5px);
-webkit-transform: scale(1.05) translate(5px, 5px);
-o-transform: scale(1.05) translate(5px, 5px);
-ms-transform: scale(1.05) translate(5px, 5px);
transform: scale(1.05) translate(5px, 5px);
    }

    .scale-down-ver-top {
        -webkit-animation: scale-down-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-down-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes scale-down-ver-top {
        0% {
            -webkit-transform: scaleY(0.0);
            transform: scaleY(0.0);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
          
        }

        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
      }
      @keyframes scale-down-ver-top {
        0% {
            -webkit-transform: scaleY(0.0);
            transform: scaleY(0.0);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
          
        }

        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
      }

@media (min-width: 992px){
.container, .container-sm, .container-md, .container-lg {
    max-width: 1001px;
}
}
